<header class="d-flex flex-row align-items-center justify-content-between bg-white border-bottom fixed-top shadow-sm px-3">
    <div class="d-flex align-items-center">
        <div class="dropdown">
            <button class="btn btn-menu" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa fa-bars fa-lg"></i>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item d-flex align-items-center" href="#">
                    <i class="fa fa-store me-2"></i> Boutiques Officielles
                </a></li>
                <li><a class="dropdown-item d-flex align-items-center" href="#">
                    <i class="fa fa-mobile-alt me-2"></i> Téléphone & Tablette
                </a></li>
                <li><a class="dropdown-item d-flex align-items-center" href="#">
                    <i class="fa fa-blender me-2"></i> Cuisine & Électroménager
                </a></li>
                <li><a class="dropdown-item d-flex align-items-center" href="#">
                    <i class="fa fa-heartbeat me-2"></i> Santé & Beauté
                </a></li>
                <li><a class="dropdown-item d-flex align-items-center" href="#">
                    <i class="fa fa-tv me-2"></i> Électroniques
                </a></li>
                <li><a class="dropdown-item d-flex align-items-center" href="#">
                    <i class="fa fa-tshirt me-2"></i> Mode
                </a></li>
                <li><a class="dropdown-item d-flex align-items-center" href="#">
                    <i class="fa fa-couch me-2"></i> Maison & Bureau
                </a></li>
                <li><a class="dropdown-item d-flex align-items-center" href="#">
                    <i class="fa fa-desktop me-2"></i> Informatique
                </a></li>
                <li><a class="dropdown-item d-flex align-items-center" href="#">
                    <i class="fa fa-gamepad me-2"></i> Jeux vidéos & Consoles
                </a></li>
                <li><a class="dropdown-item d-flex align-items-center" href="#">
                    <i class="fa fa-basketball-ball me-2"></i> Articles de sport
                </a></li>
                <li><a class="dropdown-item d-flex align-items-center" href="#">
                    <i class="fa fa-toolbox me-2"></i> Quincaillerie & Jardin
                </a></li>
                <li><a class="dropdown-item d-flex align-items-center" href="#">
                    <i class="fa fa-ellipsis-h me-2"></i> Autres catégories
                </a></li>
            </ul>
        </div>
        <img src="/assets/images/logo.png" alt="logo" class="logo ms-2" style="max-height: 50px;" routerLink="/">
    </div>

    <div class="search-container d-flex align-items-center">
        <input type="text" class="form-control" placeholder="Cherchez un produit, une marque ou une catégorie">
        <button class="btn btn-search">RECHERCHER</button>
    </div>

    <div class="d-flex align-items-center">
        <div class="dropdown me-3">
            <a class="d-flex align-items-center" id="dropdownLoginButton" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa fa-user fa-lg text-dark"></i> Se connecter
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownLoginButton">
                <li><a routerLink="/account/login" class="dropdown-item">Connexion</a></li>
                <li><a routerLink="/account/register" class="dropdown-item">Inscription</a></li>
            </ul>
        </div>
        <a routerLink="/help" class="d-flex align-items-center me-3">
            <i class="fa fa-question-circle fa-lg text-dark"></i> Aide
        </a>
        <a routerLink="/basket" class="d-flex align-items-center">
            <i class="fa fa-shopping-cart fa-lg text-dark"></i> Panier
            <div *ngIf="(basketService.basketSource$ | async) as basket" class="cart-no ms-2">
                {{getCount(basket.items)}}
            </div>
        </a>
    </div>
</header>